<div class="border-top border-bottom border-start border-white">
    <h1 class="text-white m-2">Productos</h1>
</div>
<table class="table table-dark border border-secundary table-hover w-auto p-3 position-absolute top-50 start-50 translate-middle">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Marca</th>
          <th scope="col">Categoria</th>
          <th scope="col">Fecha de fabricación</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col">Acciones</th>
          <th><button class="btn btn-primary" routerLink="/products/product" [queryParams]="{action:'0'}">
            agregar
          </button></th>
        </tr>
      </thead>
      <tbody *ngFor="let product of productArray; let i = index">
        <tr>
          <th scope="row">{{i}}</th>
          <td>{{product.name_prod}}</td>
          <td>{{product.trademark}}</td>
          <td>{{product.category}}</td>
          <td>{{product.date}}</td>
          <td>{{product.description_prod}}</td>
          <td>{{product.price}}</td>
          <td colspan="2">
            <button class="btn btn-success me-2" [routerLink]="['/products/product',i]" [queryParams]="{action:'1'}">Editar</button>
            <button class="btn btn-danger" (click)="DeleteProduct(i)">Eliminar</button>
          </td>
        </tr>
      </tbody>
  </table>
