<div class="border-top border-bottom border-start border-white">
    <h1 class="text-white ms-2">Usuarios</h1>
</div>
<table class="table table-dark border border-secundary table-hover w-75 p-3 position-absolute top-50 start-50 translate-middle me-3">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col" class="w-auto p-3">Direccion</th>
          <th scope="col">Telefono</th>
          <th scope="col">Correo electronico</th>          
          <th scope="col">Tipo de usuario</th>
          <td scope="col">Nombre de usuario</td>
          <td scope="col">Contraseña</td>
          <th scope="col">Acciones</th>
          <th>
            <button class="btn btn-primary" routerLink="/users/user" [queryParams]="{action:'0'}">agregar</button>
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let user of userArray, let i = index">
        <tr>
          <th scope="row">{{i}}</th>
          <td>{{user.name}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.address}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.email}}</td>
          <td>{{user.rol}}</td>
          <td>{{user.username}}</td>
          <td>{{user.password}}</td>
          <td colspan="2">
            <button class="btn btn-success me-2" [routerLink]="['/users/user',i]" [queryParams]="{action:'1'}">Editar</button>
            <button class="btn btn-danger" (click)="DeletedUser(i)">Eliminar</button>
          </td>
        </tr>
      </tbody>
  </table>
