<div class="border-top border-bottom border-start border-white">
    <h1 class="text-white m-2">Usuarios</h1>
</div>
<table class="table table-dark border border-secundary table-hover w-auto p-3 position-absolute top-50 start-50 translate-middle mx-5">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col" class="w-auto p-3">Direccion</th>
          <th scope="col">Telefono</th>
          <th scope="col">Correo electronico</th>          
          <th scope="col">Tipo de usuario</th>
          <td scope="col">Nombre de usuario</td>
          <td scope="col">Contraseña</td>
          <th scope="col">Acciones</th>
          <th>
            <button class="btn btn-primary" routerLink="/users/user">agregar</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">0</th>
          <td>Julio</td>
          <td>Jaramillo</td>
          <td>calle 45a # 30 - 12 | Bogota</td>
          <td>3201114455</td>
          <td>lavozdeoro@gmail.com</td>
          <td>Cliente</td>
          <td>JulioJaramillo54</td>
          <td>7897465465</td>
          <td colspan="2">
            <button class="btn btn-success me-2">Editar</button>
            <button class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
  </table>
