<div class="border-top border-bottom border-start border-white">
    <h1 class="text-white m-2">Categorias</h1>
</div>
<table class="table table-dark border border-secundary table-hover w-auto p-3 position-absolute top-50 start-50 translate-middle">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Categoria</th>
          <th scope="col">Caracteristicas</th>
          <th scope="col">Acciones</th>
          <th>
            <button class="btn btn-primary" [routerLink]="['/categories/category']" [queryParams]="{action:'0'}">
            agregar
            </button>
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let category of categoryArray; let i = index">
        <tr>
          <th scope="row">{{i}}</th>
          <td>{{category.name}}</td>
          <td>{{category.characteristics}}</td>
          <td colspan="2">
            <button class="btn btn-success me-2" [routerLink]="['/categories/category',i]" [queryParams]="{action:'1'}">
              Editar
            </button>
            <button class="btn btn-danger" (click)="DeleteMyCategory(i)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
  </table>
